<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.windows.forms jitDebugging="true"/>
  <appSettings>
    <add key="setInterval" value="1000"/>
    <!--多久读取一次重量-->
    <add key="chooseCOM" value="COM4"/>
    <!--需要配置端口号-->
    <add key="senStr" value="R"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
