<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.windows.forms jitDebugging="true"/>
  <appSettings>
    <add key="setInterval" value="500"/>
    <!--多久读取一次重量-->
    <add key="chooseCOM" value="COM5"/>
    <!--需要配置端口号-->
    <add key="senStr" value="R"/>
	  <add key="info" value="福恩信息中心技术支持：周建平 18966091309"/>
	  <add key="TubeWeight" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
